/* variables */
/* inheritance class */
.the_three_ws, .what_is_it_info, .about_emma, .all_about_us_info, .info, .nav_link, #lecture_links {
  /* scss nesting */
  font-family: Helvetica;
  font-weight: lighter;
  padding: 5px;
}

/* inheritance class */
.what_is_it_subtitle, #emma_info_button, td, .large_td, .subtitle, h1.title, .hometitle {
  /* scss nesting */
  font-family: Oswald;
  font-weight: lighter;
  padding: 5px;
}

body {
  background-color: #d9ebfc;
}

h1.title, .hometitle {
  background-color: #315981;
  /*text-styling*/
  color: #000000;
  text-align: center;
  font-size: 80px;
  /*margins*/
  margin: 0px;
  margin-bottom: 20px;
}

.hometitle {
  margin-bottom: 0px;
}

.subtitle {
  /*text-styling*/
  color: #000000;
  text-align: center;
  font-size: 60px;
  /*margins*/
  margin: 10px;
}

#lecture_links {
  /*styling for links*/
  color: #ffffff;
  font-size: 45px;
}

.nav_link {
  /*styling for links*/
  vertical-align: middle;
  color: #white;
  font-size: 30px;
}

.large_td {
  width: 55%;
  font-size: 40px;
  color: #ffffff;
}

a {
  color: white;
}

td {
  padding: 17px;
}

#lecture_links {
  margin: 20px;
}

.table {
  /*styling for navigation bar*/
  background-color: #1b3a59;
  height: 50px;
  border: 5px solid #1b3a59;
  border-collapse: collapse;
  width: 100%;
  margin: 0px;
}

#emma_info_button {
  font-size: 30px;
  margin: 10px;
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
}

.data-content {
  font-size: 30px;
}

.pheonix {
  border: 5px solid black;
  margin: 50px;
}

.info {
  color: #ffffff;
  margin: 10px;
  border: 5px solid #FFFFFF;
  font-size: 33px;
}

.blackboard-picture {
  height: 200px;
  overflow: hidden;
}

.all_about_us_info {
  /*text-styling*/
  color: #000000;
  text-align: center;
  font-size: 20px;
  /*margins*/
  margin: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

.about_emma {
  /*text-styling*/
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  /*margins*/
  margin: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

.what_is_it_info {
  /*text-styling*/
  color: #000000;
  text-align: left;
  font-size: 25px;
  /*margins*/
  margin: 10px;
  margin-right: 20%;
  margin-left: 20%;
}

.what_is_it_subtitle {
  /*text-styling*/
  color: #000000;
  text-align: left;
  font-size: 60px;
  /*margins*/
  margin: 10px;
  margin-right: 20%;
  margin-left: 20%;
}

.colorfulmath {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.col.bg {
  margin: 0px;
  padding: 0px;
}

.second_row_info {
  border: 2px solid black;
  background-image: url(https://images.theconversation.com/files/139426/original/image-20160927-14593-1rf92dt.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5000%2C2425&q=45&auto=format&w=1356&h=668&fit=crop);
}

.second_row_info_words {
  margin: 30px;
  background-color: #000000;
  opacity: 0.9;
}

.second_row_info_title {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.9;
}

.white {
  color: white;
}

.smaller {
  font-size: 40px;
}

.mySlides {
  display: none;
}

.less_margin {
  margin-right: 10%;
  margin-left: 10%;
}

.w3-display-container {
  margin-top: 30px;
}

.emmapic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.the_three_ws {
  font-size: 25px;
  text-align: center;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
